@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@font-face {
    font-family: 'Wisdom';
    src: url(../vendor/Wisdom.otf);
}
@font-face {
    font-family: 'Droid Serif';
    src: url('../vendor/DroidSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: url('../vendor/DroidSerif-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}